body {
    font-family: roboto, Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

    
  }
  
  nav {
    background-color: #0508c4;
    display: inline;

 
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    font-family: roboto;
    margin-right: 20px;
    border-right: 1px solid #bbb;
}

nav ul li:last-child {
    border-right: none;
  }

  
  nav ul li a {
    color: #989f0e;
    text-decoration: none;
  }
  
  #container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333333;
    text-align: center;
  }
  
  p {
    color: #666666;
  }
  
  .profile-image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .padding{
    height: 20rem;
    width: 20rem;
    border-radius: 50px;
    background-color: green;
    border: 3px dotted red;
  }
  